.infoContainer {
    width: 92%;
    display: block;
    margin: 1rem auto;
}

.image {
    display: block;
    margin: 0 auto;
}

.imageText {
    text-align: center;
}
.infoHeader {
    background-color: red !important;
}

.accordion-button {
    background-color: #CBDDFF !important;
    border: 0 !important;
}